[Unit]
Description=Run MA352 Proc/Health Monitor periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
Persistent=true

[Install]
WantedBy=timers.target
